
@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-Black.eot');
	src: local('Raleway Black'), local('Raleway-Black'),
		url('fonts/raleway/Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-Black.woff') format('woff'),
		url('fonts/raleway/Raleway-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-ExtraLight.eot');
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
		url('fonts/raleway/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-ExtraLight.woff') format('woff'),
		url('fonts/raleway/Raleway-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url('fonts/raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-Medium.woff') format('woff'),
		url('fonts/raleway/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-LightItalic.eot');
	src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
		url('fonts/raleway/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-LightItalic.woff') format('woff'),
		url('fonts/raleway/Raleway-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-Regular.woff') format('woff'),
		url('fonts/raleway/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('fonts/raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-Light.woff') format('woff'),
		url('fonts/raleway/Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-Thin.eot');
	src: local('Raleway Thin'), local('Raleway-Thin'),
		url('fonts/raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-Thin.woff') format('woff'),
		url('fonts/raleway/Raleway-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-ExtraBoldItalic.eot');
	src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
		url('fonts/raleway/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-ExtraBoldItalic.woff') format('woff'),
		url('fonts/raleway/Raleway-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-ExtraLightItalic.eot');
	src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
		url('fonts/raleway/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-ExtraLightItalic.woff') format('woff'),
		url('fonts/raleway/Raleway-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-MediumItalic.eot');
	src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
		url('fonts/raleway/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-MediumItalic.woff') format('woff'),
		url('fonts/raleway/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-BoldItalic.eot');
	src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
		url('fonts/raleway/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-BoldItalic.woff') format('woff'),
		url('fonts/raleway/Raleway-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-ThinItalic.eot');
	src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'),
		url('fonts/raleway/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-ThinItalic.woff') format('woff'),
		url('fonts/raleway/Raleway-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-SemiBoldItalic.eot');
	src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
		url('fonts/raleway/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-SemiBoldItalic.woff') format('woff'),
		url('fonts/raleway/Raleway-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url('fonts/raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-SemiBold.woff') format('woff'),
		url('fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-Italic.eot');
	src: local('Raleway Italic'), local('Raleway-Italic'),
		url('fonts/raleway/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-Italic.woff') format('woff'),
		url('fonts/raleway/Raleway-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('fonts/raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-Bold.woff') format('woff'),
		url('fonts/raleway/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-ExtraBold.eot');
	src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
		url('fonts/raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-ExtraBold.woff') format('woff'),
		url('fonts/raleway/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/raleway/Raleway-BlackItalic.eot');
	src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
		url('fonts/raleway/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/raleway/Raleway-BlackItalic.woff') format('woff'),
		url('fonts/raleway/Raleway-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}



@font-face {
  font-family: 'Lato Hairline';
  src: url('fonts/lato/Lato-Hairline.eot');
  src: local('Lato Hairline'), local('Lato-Hairline'),
      url('fonts/lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-Hairline.woff') format('woff'),
      url('fonts/lato/Lato-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Heavy.eot');
  src: local('Lato Heavy'), local('Lato-Heavy'),
      url('fonts/lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-Heavy.woff') format('woff'),
      url('fonts/lato/Lato-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-HeavyItalic.eot');
  src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'),
      url('fonts/lato/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-HeavyItalic.woff') format('woff'),
      url('fonts/lato/Lato-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
      url('fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-Regular.woff') format('woff'),
      url('fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Black.eot');
  src: local('Lato Black'), local('Lato-Black'),
      url('fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-Black.woff') format('woff'),
      url('fonts/lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-SemiboldItalic.eot');
  src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'),
      url('fonts/lato/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-SemiboldItalic.woff') format('woff'),
      url('fonts/lato/Lato-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-BlackItalic.eot');
  src: local('Lato Black Italic'), local('Lato-BlackItalic'),
      url('fonts/lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-BlackItalic.woff') format('woff'),
      url('fonts/lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('fonts/lato/Lato-HairlineItalic.eot');
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'),
      url('fonts/lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-HairlineItalic.woff') format('woff'),
      url('fonts/lato/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-MediumItalic.eot');
  src: local('Lato Medium Italic'), local('Lato-MediumItalic'),
      url('fonts/lato/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-MediumItalic.woff') format('woff'),
      url('fonts/lato/Lato-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-ThinItalic.eot');
  src: local('Lato Thin Italic'), local('Lato-ThinItalic'),
      url('fonts/lato/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-ThinItalic.woff') format('woff'),
      url('fonts/lato/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Thin.eot');
  src: local('Lato Thin'), local('Lato-Thin'),
      url('fonts/lato/Lato-Thin.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-Thin.woff') format('woff'),
      url('fonts/lato/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Medium.eot');
  src: local('Lato Medium'), local('Lato-Medium'),
      url('fonts/lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-Medium.woff') format('woff'),
      url('fonts/lato/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Italic.eot');
  src: local('Lato Italic'), local('Lato-Italic'),
      url('fonts/lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-Italic.woff') format('woff'),
      url('fonts/lato/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Semibold.eot');
  src: local('Lato Semibold'), local('Lato-Semibold'),
      url('fonts/lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-Semibold.woff') format('woff'),
      url('fonts/lato/Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
      url('fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-Bold.woff') format('woff'),
      url('fonts/lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-BoldItalic.eot');
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
      url('fonts/lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-BoldItalic.woff') format('woff'),
      url('fonts/lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-LightItalic.eot');
  src: local('Lato Light Italic'), local('Lato-LightItalic'),
      url('fonts/lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-LightItalic.woff') format('woff'),
      url('fonts/lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Light.eot');
  src: local('Lato Light'), local('Lato-Light'),
      url('fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/lato/Lato-Light.woff') format('woff'),
      url('fonts/lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
